.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 40px;
  border: 6px solid #ff7bac;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 8px 8px;
}

header,
main {
  width: 100%;
}

.title-bar-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 30px;
}

.title-bar-left {
  display: flex;
}

.title {
  margin-right: 80px;
}

.language {
  color: #5b6386;
}

.title,
.language,
h1,
h2,
.temp-today,
.forecast-temp,
.select-temp {
  font-family: t26-carbon,
    monospace;
  font-weight: 700;
  font-style: normal;
}

form {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.form-inner-container {
  display: flex;
  width: 100%;
  align-items: center;
  border: 6px solid #ff7bac;
  border-radius: 10px;
  overflow: hidden;
}

.search {
  background-color: #ffe5ee;
  height: 55px;
  flex-grow: 1;
  box-sizing: border-box;
  border-style: none;
  padding-left: 20px;
  font-size: 16px;
}

.submit-button-svg {
  height: 55px;
  background-color: #ff7bac;
  border-style: none;
  flex-basis: 55px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
}

form .search::placeholder,
footer {
  font-family: logic-monoscript,
    mono;
  font-weight: 300;
  font-style: normal;
}

.today-date {
  font-family: logic-monoscript,
    mono;
  font-weight: 400;
  font-style: normal;
}

form .search,
.day,
.weather-description {
  font-family: logic-monoscript,
    mono;
  font-weight: 500;
  font-style: normal;
}

.city-name {
  display: flex;
  gap: 20px;
  align-items: center;
  width: fit-content;
  margin: 0 auto 40px;
}

.corner-top-left {
  width: 20px;
  height: auto;
  display: block;
  margin-bottom: 40px;
}

.corner-bottom-right {
  width: 20px;
  height: auto;
  transform: rotate(180deg);
  display: block;
  margin-top: 40px;
}

.weather-today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe5ee;
  padding: 10px 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-size: 18px;
}

#humidity-percentage,
#windspeed,
#windspeed-unit {
  color: #ff7bac;
  font-weight: 700;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.temp-today {
  display: flex;
  align-items: center;
  font-size: 60px;
  height: fit-content
}

.temp-today img {
  display: block;
  margin-right: 20px;
}

#temp-today-val {
  font-size: 60px;
}

#temp-today-unit {}

.next-5-days {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 100px;
  margin-bottom: 40px;
  font-size: 18px;
}

.day {
  flex: 1;
}

.select-temp {
  color: #5b6386;
  text-align: center;
}

footer {
  font-family: logic-monoscript,
    mono;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}